#nav {
    background-color:orange;
    width:100%;
    display:inline-block;
    height:30px;
    position:fixed;
}
#nav a{
    display:inline;
    padding-left:25px;
    float:right;
    text-decoration:none;
    padding-top:5px;
    margin-right:20px;
    color:white;
}
#nav h1{
    font-size:15px;
    color:white;
    margin-left:20px;
    position:fixed;
}
.box1{
    border:solid;
    width:300px;
}
.box2{
    border:solid;
    width:300px;
}
.box3{
    border:solid;
    width:300px;
}
.box4{
    border:solid;
    width:300px;
}
.box4, .box3, .box2, .box1{
    display:inline-block;
    margin-left:60px;
    margin-top:50px;
    border-color:orange;
}
.box4 h1, .box3 h1, .box2 h1, .box1 h1{
    padding-left:10px;
}
.box4 p, .box3 p, .box2 p, .box1 p{
    padding-left:15px;
    padding-right:15px;
}
body {
    background-color:#FFFFE0
}
ul#flex-container {
    list-style-type:none;
    margin:0;
    padding:0;
    justify-content:flex-start;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    height:500px;
    align-items:flex-end;
    flex-wrap:wrap;
}
ul li {
    display:flex;
    border: 1px solid black;
    width:300px;
    height:250px;
    border-radius:15px;
    margin-top:100px;
    padding-top:75px;
    margin-left:50px;
    color:black;
    text-align:center;
}
ul li:first-child { background:white; }
ul li:nth-child(2) { background:white; }
ul li:nth-child(3) { background:white; } 
ul li:last-child { background:white;; }
